body {
  margin: 0px;
  background-color: black;
  cursor: cell;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: white;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 150px;
  width: 100%;
  cursor: cell;
}

header img {
  height: 150px;
  width: 150px;
  cursor: cell;
  padding-left: 40%;
}

.overlay {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  cursor: cell;
}

.overlay a {
  cursor: cell;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  cursor: cell;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: cell;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  cursor: cell;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 100px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.main {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 20px;
}

hr {
  border: 2px solid white;
}