body {
  margin: 0px;
  background-color: black;
  cursor: cell;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: white;
}

header {
  height: 150px;
  width: 100%;
  cursor: cell;
}

header img {
  height: 150px;
  width: 150px;
  cursor: cell;
  padding-left: 40%;
}

.overlay {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  cursor: cell;
}

.overlay a {
  cursor: cell;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  cursor: cell;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: cell;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  cursor: cell;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 100px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.main {
  width: 100%;
  cursor: cell;
}

a {
  color: dodgerblue;
  text-decoration: none;
  cursor: cell;
}

a.middle {
  position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: dodgerblue;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}


h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 25px;
}

.welcomeimg {
  width: 100%;
  background-image: url(https://assets.landandfarm.com/resizedimages/640/1024/l/80/1-2721744315);
  padding-top: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcomeimgmobile {
  visibility: hidden;
  height: 0;
  width: 0;
}

.welcometext, .teamwords {
  padding: 0 12.5% 0;
}

.team h1 {
  text-align: center;
}

.teampic {
  width: 100%;
  background-image: url(IMG_4486.jpeg);
  padding-top: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.teampicmobile {
  display: none;
}

hr {
  border: 2px solid white;
}

footer {
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  cursor: cell;
}

.f1 {
  width: 34%;
  float: left;
  font-size: 20px;
}

.f2 {
  width: 33%;
  float: left;
  cursor: cell;
  padding-bottom: 15px;
}

footer img {
  width: 34%;
  height: auto;
  float: left;
  padding-left: 33%;
  padding-right: 33%;
  cursor: cell;
}

.f3 {
  width: 33%;
  float: left;
  cursor: cell;
  color: white;
}

.f3 a {
  font-size: 15px;
  display: block;
  padding-top: 15px;
  cursor: cell;
}

.f3 a:hover {
  color: dodgerblue;
}

.facebook {
  color: royalblue;
  font-size: 40px;
}

.facebook:hover {
  color: white;
}

.youtube {
  color: red;
  font-size: 40px;
}

.youtube:hover {
  color: white;
}

@media screen and (max-width: 1200px;){
  body{
    width: 100%;  
  }
  
  header img {
    height: 150px;
    width: 150px;
    padding-left: 20%;
  }

  .main {
    width: 100%;
  }

  .welcomeimg, .teampic {
    display: none;
  }

  .welcomimgmobile, .teampicmobile {
    visibility: visible;
    width: 100%;
  }

  footer {
    width: 100%;
  }

  .f1, .f2, .f3 {
    width: 100%;
  }
}