body {
  margin: 0px;
  background-color: black;
  cursor: cell;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header {
  height: 150px;
  width: 100%;
  cursor: cell;
}

header img {
  height: 150px;
  width: 150px;
  cursor: cell;
  padding-left: 40%;
}

.overlay {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  cursor: cell;
}

.overlay a {
  cursor: cell;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  cursor: cell;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: cell;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  cursor: cell;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 100px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.main {
  width: 100%;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

a {
  color: dodgerblue;
  text-decoration: none;
  cursor: cell;
}

a.middle {
  position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: dodgerblue;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.welcometext {
  width: 100%;
  height: auto;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  float: right;
  text-align: center;
  background-color: black;
  animation: fadeInUp 2s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30%)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

.what, .blog, .map {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.blogpost {
  padding-left: 7.5%;
  float: left;
  padding-right: 7.5%;
  width: 35%;
  padding-bottom: 10%;
  background-color: black;
}

.blank {
  background: black;
  border: none;
  color: black;
  padding-left: 7.5%;
  float: left;
  padding-right: 7.5%;
  width: 35%;
  padding-bottom: 8%;
}

.blank button {
  background: black;
  border: none;
  color: black;
}

.blank button:hover {
  background-color: black;
  color: black;
}  

button {
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

button:hover {
  background-color: dodgerblue;
  transition-duration: 1s;
  color: black;
} 

.whatimg {
  background-image: url(http://images.kencove.com/Resources/flex_graze_2013_2.png);
  padding-top: 85%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.whatimgmobile {
  display: none;
}

.rubyvalley {
  background-image: url(https://assets.landandfarm.com/resizedimages/640/1024/l/80/1-2721744315);
  padding-top: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rubyvalleymobile {
  display: none;
}

.source {
  font-size: 10px;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

hr {
  border: 2px solid white;
}

footer {
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  cursor: cell;
}

.f1 {
  width: 34%;
  float: left;
  color: white;
  font-size: 20px;
}

.f2 {
  width: 33%;
  float: left;
  cursor: cell;
  padding-bottom: 15px;
}

footer img {
  width: 34%;
  height: auto;
  float: left;
  padding-left: 33%;
  padding-right: 33%;
  cursor: cell;
}

.f3 {
  width: 33%;
  float: left;
  cursor: cell;
}

.f3 a {
  color: white;
  font-size: 15px;
  display: block;
  padding-top: 15px;
  cursor: cell;
}

.f3 a:hover {
  color: dodgerblue;
}

.facebook {
  color: royalblue;
  font-size: 40px;
}

.facebook:hover {
  color: white;
}

.youtube {
  color: red;
  font-size: 40px;
}

.youtube:hover {
  color: white;
}

@media screen and (max-width: 1200px) {
  body{
    width: 100%;  
  }
  
  header img {
    height: 150px;
    width: 150px;
    padding-left: 20%;
  }

  .main {
    width: 100%;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
  font-size: 30px;
}

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .welcometext, .what, .review, .map {
    width: 100%;
    padding: 0%;
  }

  .blogpost {
    padding: 0%;
    padding-bottom: 10%;
    width: 100%;
  }

  .whatimg {
    display: none;
  }

  .whatimgmobile {
    width: 100%;
    display: block;
    visibility: visible;
  }

  .rubyvalley {
    display: none;
  }

  .rubyvalleymobile {
    width: 100%;
    display: block;
    visibility: visible;
  }

  a.middle:before {
    display: none;
  }

  footer {
    width: 100%;
  }

  .f1, .f2, .f3 {
    width: 100%;
  }
}
